<div class="container-fluid col-md-6">
  <a routerLink="/members" class="btn btn-primary">Back</a>
  <h3 class="text-center lead">
    {{
      isNewMemberPage() ? 'Add Member to Racing Team' : 'Edit Member Details'
    }}
  </h3>
  <br />
  <form
    (ngSubmit)="onSubmit(memberForm)"
    [formGroup]="memberForm"
    *ngIf="memberForm"
  >
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            placeholder="First Name"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            formControlName="jobTitle"
            placeholder="Job Title"
          />
        </div>
        <select id="team" class="col-md-6 custom-select" formControlName="team">
          <option>-- Select a Team --</option>
          <option *ngFor="let team of teams" [ngValue]="team.teamName">{{
            team.teamName
          }}</option>
        </select>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input
              type="radio"
              value="Active"
              name="status"
              formControlName="status"
            />
            Active
          </label>
          <label class="md-check lead">
            <input
              type="radio"
              value="Inactive"
              name="status"
              formControlName="status"
            />
            Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right">
      Save Member
    </button>
    <button
      type="button"
      class="btn btn-danger pull-left"
      *ngIf="!isNewMemberPage()"
      (click)="onDelete()"
    >
      Delete Member
    </button>
  </form>
</div>
